
<!doctype html>
<html>
    <head>

        <title>Next Page</title>

    </head>

    <body>

        <h1>HELLO from EJS. Welcome: <p style="color:red"><%= title %></p></h1>
        <% include partials/header %>

    </body>
</html>