<link rel="stylesheet" type="text/css" href="views/style.css">


<div class="Menu" >
    <div style="margin-left:20px;">
        <h2 style="text-align:center;color: #333333;"> Member Login </h2>
        <form action="#" method="#">
            <p>Username</p>
            <input class="user_pass" type="text" placeholder="Enter your username" name="username" required >
            <p>Password</p>
            <p><input class="user_pass" type="password" placeholder="Enter your password (Max. 32 characters)" name="password" maxlength="32" required></p>
            <input class= "login_button" type="submit" value="Login">
        </form>
    </div>
</div>